.ball{
    position: relative;
    top: 0px;
    left: 0px;
    height: 400px;
    width: 400px;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-image: url(../images/ball.png);
}
.eye{
    position: relative;
    top: 125px;
    left: 110px;
    height: 180px;
    width: 180px;
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-image: url(../images/eye.png);
    display: none;
}
.answer{
    position: relative;
    top: 40px;
    left: 0px;
    width: 180px;
    color: white;
    text-align: center;
}

